@model IEnumerable<PharmacyMvcClient.Models.Medicine>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MedicineID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicineName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicineDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicinePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MedicineID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicineName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicineDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicinePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyID)
            </td>
        </tr>
}
    </tbody>
</table>
